<h3><%= @tournament.title %></h3>
<% for event in @events.reverse %>

  <h3 class="event_header"><%= finnish_date(event.time) %> <%= event.title %></h3>
  <p class="event">
    <%= simple_format(event.content) %>
  </p>  
  <hr />

<% end %>

