<hr />
<% for event in @events.reverse %>

  <h2 class="event"><%= finnish_date(event.time) %> <%= event.title %></h2>
  <p class="event">
    <%= simple_format(event.content, :class => "event") %>
  </p>  
  <hr />

<% end %>

