%h2{:color => "#CC0000"}= t('ilmo.complete.welcome_header')
%p
  - if @mail_sent
    = t('ilmo.complete.registration_received', :tournament_title => "#{@tournament.title}")
  - else
    = t('ilmo.complete.mail_error')
