<h2 color="#CC0000"><%= t('ilmo.complete.welcome_header') %></h2>
<p>
  <% if @mail_sent %>
    <%= t('ilmo.complete.registration_received', :tournament => "#{@tournament.title}") %>
  <% else %>
    <%= t('ilmo.complete.mail_error') %>
  <% end %>

</p>