<% form_for([@user, @picture], :url => user_picture_path, :html => { :multipart => true }) do |f| %>
  <%#= f.error_messages %>

  <b>Huom! Kuvien kokoraja on 16Mt.</b>
  <p>
    <%= f.label "Kuvatiedosto " %><br />
    <%= f.file_field :photo %>
  </p>
    <p>
    <%= f.submit "Lähetä" %>
  </p>
<% end %>

