= form_for([@user, @picture], :url => user_picture_path, :html => { :multipart => true }) do |f|
  %b Huom! Kuvien kokoraja on 16Mt.
  %p
    = f.label "Kuvatiedosto "
    %br/
    = f.file_field :photo
  %p
    = f.submit "Lähetä"
