%h3= @tournament.title
%table
  %tr
    %th Tuomarit
  - for referee in @referees
    %tr
      %td= h referee.user.full_name
      %td= link_to 'Poista', referee, :method => :delete, :tournament_id => @tournament.id, :id => referee.id
= link_to 'Uusi tuomari', new_tournament_referee_path
