<h1>New team</h1>

<% form_for([@tournament, @referee]) do |f| %>
  <%#= f.error_messages %>

  <p>
    <%= f.label :Tuomari %><br />
    <%= collection_select :referee, :user_id, @users, :id, :full_name %>
  </p>

  <p>
    <%= f.submit 'Lisää' %>
  </p>
<% end %>

<%= link_to 'Back', :back %>  
